

@import "variables";


//----- General Icon Styles
.icon {
  background-image: url(../images/sprite.svg);
  background-repeat: no-repeat;
  background-size: 2000px auto;
  background-position: -20px -29px;
  &:hover {
    border-color: $primary-color;
  }
}


//----- Post Type Icons
.post-type.icon {
  background-size: 1900px auto;
  background-position-y: -31px;
  &:hover {
    background-position-y: -31px;
  }
}


//----- Radio Button Icons
.post-form .icon {
  background-size: 1900px auto;
  background-position-y: -25px;
  &:hover {
    background-position-y: -25px;
  }
  &.icon-link { background-position-x: -112px; }
  &.icon-image { background-position-x: -14px; }
  &.icon-video { background-position-x: -212px; }
  &.icon-audio { background-position-x: -311px; }
  &.icon-text { background-position-x: -411px; }
}


//----- Sprite Positions
.icon-newpost {
  background-position-x: -855px;
  background-position-y: -30px;
}
.icon-userprofile {
  background-position-x: -1063px;
  background-position-y: -27px;
}
.icon-settings {
  background-position-x: -959px;
  background-position-y: -28px;
}
.icon-logout {
  background-position-x: -1271px;
  background-position-y: -30px;
}
.icon-login {
  background-position-x: -1168px;
  background-position-y: -30px;
}

.icon-voteup { background-position-x: -542px; }
.icon-votedown{ background-position-x: -646px; }
.icon-delete {
  background-position-x: -750px;
  background-position-y: -28px;
}

.icon-video { background-position-x: -218px; }
.icon-audio { background-position-x: -317px; }
.icon-link { background-position-x: -118px; }
.icon-image { background-position-x: -20px; }
.icon-text { background-position-x: -416px; }

.icon-goback { background-position-x: -1377px; }



//----- Post Meta Icons
.post-meta {
  li:before{
    background-image: url(../images/author-icon-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    content:"";
  }
  .author:before {
    background-image: url(../images/author-icon-2.png);
    background-size: 100% auto;
  }
  .views:before {
    background-image: url(../images/views-icon.png);
    background-size: 100% auto;
  }
  .comments:before {
    background-image: url(../images/discussion-icon.png);
    background-size: 100% auto;
  }
  .time:before {
    background-image: url(../images/time-icon.png);
    background-size: 100% auto;
    width: 12px;
  }
}




//----- Logo
.logo {
  background-size: 1980px auto;
  background-position: -1765px -22px;
  &:hover {
    background-position: -1765px -100px;
  }
  @media only screen and (min-width: 22rem) {
    background-position: -1765px -7px;
    &:hover {
      background-position: -1765px -86px;
    }
  } 
}



