

@import "variables";
@import "mixins";




//----- General Icon Styles
.icon {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  background-size: 2000px auto;
  &:hover {
    border-color: $secondary-color;
  }
}



//----- Radio Button Icons
.post-form .icon {
  background-size: 1900px auto;
  &.icon-link {
    background-position: -113px -10px;
  }
  &.icon-image {
    background-position: -14px -10px;
  }
  &.icon-video {
    background-position: -212px -10px;
  }
  &.icon-audio {
    background-position: -311px -10px;
  }
  &.icon-text {
    background-position: -411px -10px;
  }
}


//----- Sprite Positions
.icon-newpost {
  background-position: -853px -14px;
}
.icon-userprofile {
  background-position: -1062px -15px;
}
.icon-settings {
  background-position: -957px -15px;
}
.icon-logout {
  background-position: -1268px -15px;
}
.icon-login {
  background-position: -1166px -15px;
}
.icon-voteup {
  background-position: -541px -15px;
}
.icon-votedown{
  background-position: -645px -14px;
}
.icon-voteup-selected{
  @extend .icon-voteup;
}
.icon-votedown-selected{
  @extend .icon-votedown;
}
.icon-goback {
  background-position: -1375px -14px;
}
.icon-delete {
  background-position: -749px -14px;
    width: $btn-size;
    height: $btn-size;
    display: block;
    float: right;
    @include btn-border($primary-color,$btn-size);
}



//----- Post Type Icons
.post-type.icon {
  background-size: 1900px auto;
}
.icon-video {
  background-position: -218px -15px;
}
.icon-audio {
  background-position: -317px -15px;
}
.icon-link {
  background-position: -118px -15px;
}
.icon-image {
  background-position: -20px -15px;
}
.icon-text {
  background-position: -416px -15px;
}



//----- Post Meta Icons
.post-meta {
  li:before{
    background-image: url(../images/author-icon-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    content:"";
  }
  .author:before {
    background-image: url(../images/author-icon-2.png);
  }
  .views:before {
    background-image: url(../images/views-icon.png);
  }
  .comments:before {
    background-image: url(../images/discussion-icon.png);
  }
  .time:before {
    background-image: url(../images/time-icon.png);
    width: 12px;
  }
}



//----- Logo
.logo {
  background-size: 1980px auto;
  background-position: -1760px -7px;
  &:hover {
    background-position: -1760px -85px;
  }
}





//----- Spinner
.spinner {
  background-image: url(../images/spinner.gif);
  background-size: 90% auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -$spinner-width/2; 
  margin-top: -$spinner-width/2; 
  text-align:center;
  z-index:1234;
  overflow: auto;
  width: $spinner-width;
  height: $spinner-width; 
}





