// bower:scss
// endbower

@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "variables";
@import "mixins";
@import "icons";
@import "forms";




//----- General Styles
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  background: white;
}

.content-wrap {
  margin-top: 4.5rem;
}

a {
  color: $primary-color;
  &:hover {
    color: black;
  }
}

ul {
  list-style: none;
  margin: 0;
  li {
    margin: 0;
  }
}

.btn {
  @include btn-border($dark-grey,$btn-size);
}






//----- Header
header {
  padding: 0.2rem 0.5rem;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}
.logo {
  width: 2rem;
  height: $btn-size*1.3;
  display: block;
  float: left;
  @media only screen and (min-width: 22rem) {
    width: 8rem;
  } 
}
.mainnav {
  @include inline-ul;
  float: right;
  margin-top: 0.4rem;
  li {
    width: $btn-size;
    height: $btn-size;
    margin-left: 0.3rem;
  }
  a {
    @include btn-border($dark-grey,$btn-size);
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}




//----- Masonry
.masonry-wrap {
  margin-top: -1.5rem;
}

.post {
  @include clearfix;
  &.masonry {
    padding: 1.5rem 0.3rem 0rem;
    min-width: 14.5rem;
    width: 100%;
    @media only screen and (min-width: 31rem) {
      width: 50%;
    } 
    @media only screen and (min-width: 45.5rem) {
      width: 33.33%;
    } 
  }
}

.post-title {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  &.no-margin {
    margin: 0;
  }
}

.post-header {
  iframe { margin-bottom: -0.5rem; }
  img {
    border: thin solid $light-grey;
  }
}

.post-type {
  width: 2.1rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: -0.4rem;
  display: inline-block;
}


.post-meta {
  @extend %small;
  margin: 0;
  @include inline-ul;
  margin: 0.4rem 0;
  li {
    vertical-align: top;
    padding-right: 0.5rem;
    line-height: 1.1rem;
    &:before{
      width: 1rem;
      height: 1rem;
      margin-right: 0.2rem;
      display: inline-block;
    }
    a {
      vertical-align: top;
    }
  }
}


.post-rating {
  margin-left: 0;
  display: block;
  @include inline-ul;
  li{
    width: $btn-size;
    height: $btn-size;
    margin-right: 0.2rem;
    &:first-child {
      width: $btn-size*2.5;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .count {
    @include btn-border($dark-grey,$btn-size);
    height: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
  }
  a {
    width: 100%;
    height: 100%;
    display: block;
    @include btn-border($dark-grey,$btn-size);
  }
  .icon-voteup, .icon-votedown{
    border-color: $primary-color;
    &:hover {
      border-color: $dark-grey;
    }
  }
}

.post-footer {
  @include clearfix;
  border-bottom: thin solid $light-grey;
  height: 1.5rem;
}




//----- Detail View
.detail {
  h2 {
    display: inline;
    font-size: 1.6rem;
  }
  .post-header {
    margin-top: 1rem;
  }
}

.post-menu {
  @include clearfix;
  .go-back {
    display: block;
    width: $btn-size;
    height: $btn-size;
    float: left;
  }
  .post-rating {
    float: right;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post-comments {
  .post-rating {
    li:last-child {
      float: right;
    }
  }
}

.comment{
  margin: 0.5rem 0;
  border-bottom: thin solid $light-grey;
  padding-bottom: 1rem;
  .comment-author {
    @extend %small;
    margin-left: 0.5rem;
  }
  .post-rating {
    float: none;
  }
}






//----- User Profile
.profile-head {
  @include clearfix;
  text-align: center;
  img {
    margin-right: 1rem;
    @include btn-border($light-grey,14rem);
    max-width: 14rem;
    @media only screen and (min-width: 31rem) {
      float: left;
    } 
  }
  blockquote {
    @include clearfix;
    border-left: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    @media only screen and (min-width: 31rem) {
      text-align: left;
    } 
  }
  span {
    @extend %small;
    @media only screen and (min-width: 31rem) {
      float: left;
    } 
  }
}

.profile-posts {
  margin-top: 1rem;
}

.profile-post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: thin solid $light-grey;
  a {
    font-size: 1.2rem;
  }
}
