// bower:scss
// endbower

@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";


// Variables & Mixins

$primary-color: #00D8AE;    // Türkis
$secondary-color: #fff;   // tbd
$light-grey: #ECECEC; // Light Grey
$dark-grey: #3C3C3B;
$white: #fff;
$error: #ff0000;
$demo-grey: rgba(black,0.1);
//$post-type-size: 3.4rem;
$btn-size: 2.4rem;

@mixin inline-ul{
  @include clearfix;
  li {
    float: left;
  }
}

@mixin bg-img($img,$img-width, $img-height) {
  background-image: $img;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $img-width $img-height;
}

%small {
  font-size: 0.7rem;
}

@mixin btn-border($b-color,$b-size){
  border: 2px solid $b-color;
  border-radius: $b-size/2;
}



// General

.btn {
  @include btn-border($dark-grey,$btn-size);
}

a {
  color: $dark-grey;
  &:hover {
    color: $primary-color;
  }
}

ul {
  list-style: none;
  margin: 0;
  li {
    margin: 0;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $light-grey;
}

.container {
  background: white;
}






// Header
header {
  background: $demo-grey;
  //margin-bottom: 10px;
  padding: 0.5rem;
  @include clearfix;
  .logo {
    background: $demo-grey;
    width: 10rem;
    height: $btn-size;
    display: block;
    float: left;
  }
  .mainnav {
    @include inline-ul;
    background: $demo-grey;
    float: right;
    li {
      width: $btn-size;
      height: $btn-size;
      margin-left: 0.5rem;
    }
    a {
      @include btn-border($dark-grey,$btn-size);
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}






// Masonry
.masonry {
  background: green;
}

.post {
  background: yellow;
  @include clearfix;
  //ul { @include inline-ul; }
  margin: 0.1rem 0.5rem;
  padding: 1rem 0;
  
  &.masonry {
    max-width: 15rem;
    border-bottom: thin solid $light-grey;
  }
  &.detail {

  }
}

.post-title {
  background: orange;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  &.no-margin {
    margin: 0;
  }
}

.post-header {
  iframe { margin-bottom: -0.5rem; }
}

.post-type {
  width: 2rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  margin-bottom: -0.4rem;
  background: $dark-grey;
  display: inline-block;
  &.link { @include bg-img(url(../images/link-icon.png),auto,80%); }
  &.video { @include bg-img(url(../images/video-icon.png),90%,auto); }
  &.audio { @include bg-img(url(../images/audio-icon.png),auto,90%); }
  &.text { @include bg-img(url(../images/text-icon.png),auto,85%); }
  &.image { @include bg-img(url(../images/img-icon.png),auto,70%); }
}

.post-meta {
  @extend %small;
  margin: 0;
  background: red;
  @include inline-ul;
  margin: 0.4rem 0;
  li {
    vertical-align: top;
    padding-right: 0.5rem;
    line-height: 1.1rem;
    &:before{
      width: 1rem;
      height: 1rem;
      margin-right: 0.2rem;
      display: inline-block;
      background-image: url(../images/author-icon-2.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center center;
      content:"";
    }
  }
  .author {
    //border-right: thin solid $dark-grey;
    //margin-right: 0.5rem;
  }
  .author:before {
    background-image: url(../images/author-icon-2.png);
    background-size: 100% auto;
  }
  .views:before {
    background-image: url(../images/views-icon.png);
    background-size: 100% auto;
  }
  .comments:before {
    background-image: url(../images/discussion-icon.png);
    background-size: 100% auto;
  }
  .time:before {
    background-image: url(../images/time-icon.png);
    background-size: 100% auto;
    width: 12px;
  }
}

.post-rating {
  background:grey;
  margin-left: 0;
  //margin-top: 0.5rem;
  float: left;
  @include inline-ul;
  li{
    width: $btn-size;
    height: $btn-size;
    margin-right: 0.3rem;
    &:first-child {
      width: $btn-size*2.5;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .rating {
    @include btn-border($dark-grey,$btn-size);
    height: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
  }
  a {
    width: 100%;
    height: 100%;
    display: block;
    @include btn-border($dark-grey,$btn-size);
  }
}





// detail
.detail {
  h2 {
    display: inline;
    font-size: 1.6rem;
  }
}

.post-menu {
  background: green;
  @include clearfix;
  .go-back {
    display: block;
    width: $btn-size;
    height: $btn-size;
    float: left;
  }
  .post-rating {
    float: right;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post-comments {
  background: yellow;
  .post-rating {
    li:last-child {
      float: right;
    }
  }
}

.comment{
  background: orange;
  margin: 0.5rem;
  border-bottom: thin solid $light-grey;
  padding-bottom: 1rem;
  .comment-author {
    @extend %small;
  }
  .post-rating {
    float: none;
  }
}

.comment-form {
  background: green;
  padding: 0.5rem;
  input[type="text"] {
    width: 70%;
    display: inline;
    margin-right: 1rem;
  }
  button[type="submit"] {
    width: 20%;
    display: inline;
  }
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea
{
  @include btn-border($dark-grey,$btn-size);
  height: $btn-size;
  margin: 0.5rem 0;
}

input[type="submit"]{
  @include btn-border($dark-grey,$btn-size);
  background: transparent;
  color: $dark-grey;
  padding: 0;
  margin: 0;
  height: $btn-size;
  min-width: 7rem;
  font-size: 1rem;
  cursor: pointer
}

textarea {
  resize: none;
  height: auto;
}



// new post











// // General
// body {
//   background: $light-grey;
//   font-family: 'Open Sans', sans-serif;
// }

// ul {
//   list-style: none;
//   margin: 0;
//   li {
//     margin: 0;
//   }
// }

// .header {
//   ul {
//     @include inline-ul;
//     li {
//       margin-right: 1rem;
//     }
//   }
// }

// .padding {
//   padding: 1rem;
//   background: $white;
//   margin-bottom: 1rem;
// }

// %small {
//   font-size: 0.7rem;
//   line-height: 1em;
// }





// ////////////////////////////////
// // Masonry
// ////////////////////////////////

// .masonry {
//   @include clearfix;
// }

// .masonry .post {
//   margin-bottom: 1rem;
//   max-width: 250px;
//   margin-right: 1rem;
//   float: left;
// }

// .post {
//   background: $white;
//   border: thin solid $light-grey;
//   ul { @include inline-ul; }
// }

// .post-header  {
//   @include clearfix;
// }

// .post-body    {
//   padding: 0.5rem 0.8rem;
//   margin-top: -($post-type-size);
// }

// .post-footer  {
//   padding: 0.5rem 0.8rem;
//   height: 3rem;
//   @include clearfix;
// }

// .post-img {
//   background: $dark-grey;
//   max-height: 150px;
//   overflow: hidden;
// }

// .post-type {
//   background: white;
//   height: $post-type-size;
//   width: $post-type-size;
//   float: right;
//   position: relative;
//   top: -($post-type-size/3);
//   border-radius: $post-type-size/2;
//   @include bg-img(url(../images/link-icon.png),auto,45%);
//   &.link { @include bg-img(url(../images/link-icon.png),auto,45%); }
//   &.video { @include bg-img(url(../images/video-icon.png),auto,30%); }
//   &.audio { @include bg-img(url(../images/audio-icon.png),auto,55%); }
//   &.text { @include bg-img(url(../images/text-icon.png),auto,45%); }
//   &.image { @include bg-img(url(../images/img-icon.png),auto,38%); }
// }

// .post-categories {
//   @extend %small;
//   li {
//     padding-right: 0.5rem;
//     &:not(:last-child):after { content: " /"; }
//   }
// }

// .post-meta {
//   @extend %small;
//   li {
//     vertical-align: top;
//     padding-right: 0.5rem;
//     line-height: 1.1rem;
//     &:before{
//       width: 1rem;
//       height: 1rem;
//       margin-right: 0.2rem;
//       display: inline-block;
//       background-image: url(../images/author-icon-2.png);
//       background-size: 100% auto;
//       background-repeat: no-repeat;
//       background-position: center center;
//       content:"";
//     }
//   }
//   .author {
//     border-right: thin solid $dark-grey;
//     margin-right: 0.5rem;
//   }
//   .author:before {
//     background-image: url(../images/author-icon-2.png);
//     background-size: 100% auto;
//   }
//   .views:before {
//     background-image: url(../images/views-icon.png);
//     background-size: 100% auto;
//   }
//   .comments:before {
//     background-image: url(../images/discussion-icon.png);
//     background-size: 100% auto;
//   }
//   .time:before {
//     background-image: url(../images/time-icon.png);
//     background-size: 100% auto;
//     width: 12px;
//   }
// }

// .post-rating {
//   width: 80%;
//   max-width: 20rem;
//   height:100%;
//   float: left;
//   ul {
//     background: $primary-color;
//     border-radius: 2px;
//     height: 100%;
//     li {
//       text-align: center;
//       display: block;
//       width: 33.33%;
//       height: 100%;
//       border-right: thin solid rgba(white,0.2);
//     }
//   }
//   .rating {
//     color: white;
//     line-height: 2rem;
//     font-weight: strong;
//   }
//   .th-up { @include bg-img(url(../images/th-up.png),auto,70%); }
//   .th-down { @include bg-img(url(../images/th-down.png),auto,70%); }
// }

// .post-more {
//   width: 14%;
//   height: 100%;
//   float: right;
//   .plus {
//     @include bg-img(url(../images/btn-plus.png),auto,50%);        
//     border: thin solid rgba($dark-grey,0.2);
//     border-radius: 2px;     
//   }
// }



// .btn {
//   display: block;
//   width: 100%;
//   height: 100%;
// }






