@import "variables";



#message_container {
	position: fixed;   
	top: 3.8rem;
  right: 0rem;
}


#message {
	text-align: center;
  font-size: 0.9rem;
	background: rgba($primary-color,0.9);
	color: white;
	border: 2px solid darken($primary-color,10%);
  border-right: none;
	padding: 1rem 2rem;
}


div#message.animation {
    opacity: 0;   
    -webkit-animation: slide-in 0.5s ease 0.2s 1 forwards, slide-out 1.5s ease 4s 1 forwards; // slide-in DURATION ease DELAY 1 forwards
    -moz-animation: slide-in 0.5s ease 0.2s 1 forwards, slide-out 1.5s ease 4s 1 forwards;
    -o-animation: slide-in 0.5s ease 0.2s 1 forwards, slide-out 1.5s ease 4s 1 forwards;
    -ms-animation: slide-in 0.5s ease 0.2s 1 forwards, slide-out 1.5s ease 4s 1 forwards;
    animation: slide-in 0.5s ease 0.2s 1 forwards, slide-out 1.5s ease 4s 1 forwards;
}


@keyframes slide-in { 
  0% {
    opacity: 0;
    margin-right: -200px;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }  
}


@keyframes slide-out { 
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  } 
  100% {
    opacity: 0;
    margin-right: -200px;
  }  
}





