

//----- Variables
$primary-color: #00B290;    // Türkis
$secondary-color: #CE056A;	
$light-grey: #ECECEC; // Light Grey
$dark-grey: #000;
$middle-grey: #ccc;
$white: #fff;
$error: #ff0000;
$btn-size: 2.6rem;
$spinner-width: 2.8rem;