

//----- Variables
$primary-color: #00B290;    // Türkis
$secondary-color: #fff;   // tbd
$light-grey: #ECECEC; // Light Grey
$dark-grey: #3C3C3B;
$white: #fff;
$error: #ff0000;
$demo-grey: rgba(black,0.1);
$btn-size: 2.4rem;