<div class="row">
  <div class="small-12 medium-10 large-8 small-centered large-centered columns">



<div class="post detail">

  <div class="post-menu">
    <a ng-click="showOverview()" title="Back to overview" class="btn go-back icon icon-goback"></a>
    <ul class="post-rating">
      <li><div class="count">{{post.votes}}</div></li>
      <li><a class="{{getStyleForVoteUpPost(post)}}" ng-click="voteUpPost(post)" ng-show="signedIn() && !isOwn(post)"></a></li>
      <li><a class="{{getStyleForVoteDownPost(post)}}" ng-click="voteDownPost(post)" ng-show="signedIn() && !isOwn(post)"></a></li>
    </ul>
  </div>


  <div class="post-header" ng-switch="post.type">
    <div ng-switch-when="video">
      <div class="embed-container">
        <embed code="code" url="{{post.videourl}}" type="{{post.type}}"/>
      </div>
      <div class="post-title">
        <span class="post-type icon icon-video"></span>{{post.title}}
      </div>
    </div><!--video-->


    <div ng-switch-when="audio">
      <div class="embed-container">
        <embed code="code" url="{{post.audiourl}}" type="{{post.type}}"/>
      </div>
      <div class="post-title">
        <span class="post-type icon icon-audio"></span>{{post.title}}
      </div>
    </div><!--audio-->


    <div ng-switch-when="link">
      <div class="post-title">
        <span class="post-type icon icon-link"></span>
        <a href="{{post.link}}" target="_blank">{{post.title}}</a>
      </div>
    </div><!--link-->


    <div ng-switch-when="image">
      <picture pcode="pcode" url="{{post.image}}" type="{{post.type}}"/>
      <div class="post-title">
        <span class="post-type icon icon-image"></span>{{post.title}}
      </div>
    </div><!--image-->


    <div ng-switch-when="text">
      <div class="post-title">
        <span class="post-type icon icon-text"></span>{{post.title}}
      </div>
      <p>{{post.text}}</p>
    </div><!--text-->

  </div><!--post-header-->


  <p>{{post.description}}</p>


  <ul class="post-meta">
    <li class="author"><a title="Show profile" ng-click="getauthorprofile(post)">{{post.author}}</a></li>
    <li class="views">{{post.views}} Views</li>
    <li class="comments">{{comments.length}} Comments</li>
    <li class="time">{{post.time}}</li>
  </ul>


</div> <!--post end-->



<form ng-submit="createComment()" class="comment-form" ng-show="signedIn()">
  <input type="text" placeholder="Leave a comment" ng-model="commentText">
    <input type="submit" value="Post" title="Post comment" class="post-btn" />
</form>



<ul class="post-comments">
	<p ng-show="comments.length == 0">No comments</p>
  <li ng-repeat="comment in comments | reverse" class="comment">
    <p>{{comment.text}}<a title="Show profile" class="comment-author" ng-click="getcommentauthorprofile(comment)">{{comment.commentauthor}}</a></p>

    <ul class="post-rating">
        <li><div class="count">{{comment.votes}}</div></li>
      <li><a class="icon icon-voteup" title="Vote up" ng-click="voteUpComment(comment)"></a></li>
      <li><a class="icon icon-votedown" title="Vote down" ng-click="voteDownComment(comment)"></a></li>
      <li><a class="icon icon-delete" title="Delete" ng-click="deleteComment(comment)" ng-show="user.uid === comment.commentauthorUID"></a></li>
      </ul>

  </li>

</ul>



</div></div><!--row columns -->
