<div class="row">
  <div class="small-12 medium-10 large-8 small-centered large-centered columns">


<div class="auth-forms">

  <h2>Log In</h2>

  <form ng-submit="login()">
  	<p ng-show="error">{{error}}</p>
    <input type="email" ng-model="user.email" placeholder="Email">
    <input type="password" ng-model="user.password" placeholder="Password">
    <input type="submit" value="Login" title="Login"> (or register <a ng-href="#/register" title="register">here</a>)
  </form>

  

</div>


</div></div><!--row columns -->