


<ul class="masonry-wrap" isotope-container>

<!-- <li ng-repeat="post in posts | orderBy: '-upvotes'" class="post masonry" isotope-item> -->

<li ng-repeat="post in posts | reverse" class="post masonry" isotope-item>

  <div class="post-header" ng-switch="post.type">


    <div ng-switch-when="video">
      <div class="embed-container">
        <embed code="code" url="{{post.content}}" type="{{post.type}}"/>
      </div>
      <div class="post-title">
        <span class="post-type icon icon-video"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="audio">
      <div class="embed-container">
        <embed code="code" url="{{post.content}}" type="{{post.type}}"/>
      </div>
      <div class="post-title">
        <span class="post-type icon icon-audio"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="link">
      <div class="post-title no-margin">
        <span class="post-type icon icon-link"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="image">

      <picture code="code" url="{{post.content}}" type="{{post.type}}"/>
      <div class="post-title">
        <span class="post-type icon icon-image"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="text">
      <div class="post-title no-margin">
        <span class="post-type icon icon-text"></span><a ng-click="showDetail(post)">{{post.title}} - {{post.content}}</a>
      </div>
    </div>


  </div><!--post-header-->



  <ul class="post-meta">
    <li class="author"><a ng-click="getauthorprofile(post)">{{post.author}}</a></li>
    <li class="views">{{post.views}} Views</li>
    <li class="comments">{{post.comments}} Comments</li> <!-- TODO: show comments -->
    <li class="time">{{post.time}}</li>
  </ul>

  <ul class="post-rating">
    <li><div class="count">{{post.upvotes}}</div></li>
    <li><a class="icon icon-voteup" ng-click="voteUp(post)"></a></li>
    <li><a class="icon icon-votedown" ng-click="voteDown(post)"></a></li>
    <li><a class="icon icon-delete" ng-show="user.uid === post.authorUID" ng-click="deletePost(post)"></a></li>
  </ul>

  <div class="post-footer"></div>


</li> <!--ng-repeat end-->


</ul><!--masonry-->

