

<!--  | orderBy: '-upvotes' -->


<div class="masonry">

<div ng-repeat="post in posts" class="post {{post.type}}">

  <div class="post-header" ng-switch="post.type">
    <div class="post-img" ng-switch-when="video">
      <!--video--><embed code="code" url="{{post.videourl}}" type="{{post.type}}"/>
    </div>
    <div class="post-img" ng-switch-when="audio">
      <!--audio--><embed code="code" url="{{post.audiourl}}" type="{{post.type}}"/>
    </div>
    <div ng-switch-when="link">
      <!--link-->{{post.link}}
    </div>
    <div class="post-img" ng-switch-when="image">
      <!--image--><picture pcode="pcode" url="{{post.image}}" type="{{post.type}}"/>
    </div>
    <div ng-switch-when="text">
      <!--text-->{{post.text}}
    </div>

    <div class="post-type {{post.type}}"></div><!--icon-->
  </div><!--post-header-->

  <div class="post-body">
    <ul class="post-categories">
      <li><a>Stories</a></li>
      <li><a>Stories</a></li>
    </ul>
    <h2><a ng-click="showDetail(post)">{{post.title}}</a></h2>
    <ul class="post-meta">
      <li class="author" ng-bind="post.author">{{post.author}}</li>
      <li class="views">{{post.views}} Views</li>
      <li class="comments">{{post.comments.length}} Comments</li>
      <li class="time">{{post.time}}</li>
    </ul>
  </div>

  <div class="post-footer">
    <div class="post-rating">
      <ul>
        <li><div class="rating">{{post.upvotes}}</div></li>
        <li><a class="th-up btn" ng-click="voteUp(post)"></a></li>
        <li><a class="th-down btn" ng-click="voteDown(post)"></a></li>
      </ul>
    </div>
    <div class="post-more">
      <a class="plus btn" ng-click="deletePost(post)"></a>
    </div> 
  </div>

</div> <!--ng-repeat end-->


</div><!--masonry-->

