


<ul class="masonry" isotope-container>



<li ng-repeat="post in posts | orderBy: '-votes'" class="post masonry" isotope-item>

  <div class="post-header" ng-switch="post.urlType">


    <div ng-switch-when="video">
      <div class="embed-container">
        <embed code="code" url="{{post.url}}" type="{{post.type}}"/>
      </div>
      <div class="post-title">
        <span class="post-type icon icon-video"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="audio">
      <div class="embed-container">
        <embed code="code" url="{{post.url}}" type="{{post.type}}"/>
      </div>
      <div class="post-title">
        <span class="post-type icon icon-audio"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="link">
      <div class="post-title no-margin">
        <span class="post-type icon icon-link"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="image">
      <picture pcode="pcode" url="{{post.url}}" type="{{post.type}}"/>
      <div class="post-title">
        <span class="post-type icon icon-image"></span><a ng-click="showDetail(post)">{{post.title}}</a>
      </div>
    </div>


    <div ng-switch-when="text">
      <div class="post-title no-margin">
        <span class="post-type icon icon-text"></span><a ng-click="showDetail(post)">{{post.title}} - {{post.text}}</a>
      </div>
    </div>


  </div><!--post-header-->

    <ul class="post-meta">
    <li class="author" ng-bind="post.author">{{post.author}}</li>
    <li class="views">{{post.views}} Views</li>
    <li class="comments">{{post.CommentCount}} Comments</li> <!-- TODO: show comments -->
    <li class="time">{{post.time}}</li>
  </ul>

  <ul class="post-rating">
    <li><div class="count">{{post.votes}}</div></li>
    <li><a class="icon icon-voteup" ng-click="voteUp(post)"  ng-hide="getVote(post) === 1"></a></li>
    <li><a class="icon icon-votedown" ng-click="voteDown(post)" ng-hide="getVote(post) === -1"></a></li>
    <li><a class="icon icon-delete" ng-show="user.uid === post.authorUID" ng-click="deletePost(post)"></a></li>
  </ul>

  <div class="post-footer"></div>


</li> <!--ng-repeat end-->


</ul><!--masonry-->

