<header ng-controller="NavCtrl">
  <a class="logo" ng-click="loadPage('')">Logo</a>
  <nav>
    <ul class="mainnav">
      <li ng-show="signedIn()"><a ng-click="loadPage('newpost')">+</a></li>
      <li ng-show="signedIn()"><a ng-href="#/user/{{ user.uid }}">U</a></li>
      <li><a ng-click="loadPage('settings')">S</a></li>
      <!--<li ng-hide="signedIn()"><a ng-click="loadPage('register')">Register</a></li>-->
      <li ng-show="signedIn()"><a ng-href="#" ng-click="logout()">Out</a></li>
      <li ng-hide="signedIn()"><a ng-click="loadPage('login')">In</a></li>
    </ul>
  </nav>




<!-- <ul class="nav navbar-nav navbar-right" >
  <li ng-show="signedIn()">
    <p class="navbar-text"><a ng-href="#/user/{{ user.uid }}">{{ user.profile.username }}</a></p>
  </li>
  <li ng-show="signedIn()">
    <a ng-href="#/user/{{ user.uid }}">
      <img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic" />
      {{ currentUser.username }}
    </a>
  </li>
</ul>
 -->
</header>



