<div class="row">
  <div class="small-12 medium-10 large-8 small-centered large-centered columns">


<div class="user-profile">

<!--       <img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img" /> -->

  <div class="profile-head">
    <img src ="http://robohash.org/{{ profile.username }}?bgset=bg2" />
    <!-- ?set=set2  -->
    <blockquote>&laquo;{{ profile.description }}&raquo;</blockquote>
    <span>{{ profile.username }}, {{ profile.email }}</span>
  </div><!--profile-head-->



  <ul class="profile-posts">
    <li ng-repeat="(key,post) in posts" class="profile-post">

      <span class="post-type icon icon-{{post.type}}"></span><a ng-href="#/detail/{{ post.$id }}">{{post.title}}</a>


      <ul class="post-meta">
        <li class="views">{{post.views}} Views</li>
        <li class="comments">{{comments.length}}10 Comments</li>
        <!-- TODO: show comments -->
        <li class="time">{{post.time}}</li>
      </ul>

    </li>
  </ul>

  <!-- TODO: show message if no posts -->


</div><!--user-profile-->



</div></div><!--row columns -->
